@import "./style.scss";

body main section {
    @media #{$extra-small-down} {
        align-items: flex-end;
    }

    &#s1 {
        padding: 3% 15% 0 15%;
        animation: rightToLeft 1200ms ease;
        h1,
        h2 {
            margin-left: 50%;
            @media #{$extra-small-down} {
                margin-left: 0;
            }
        }
        h1 {
            font-size: 3vw;
            // @media #{$extra-small-down} {
            //     font-size: 4vw;
            //     text-align: end;
            // }
            font-weight: 700;
            font-family: "Comfortaa", sans-serif;
        }
        h2 {
            font-size: 1.7vw;
            transition: all 250ms ease;
            &:hover {
                color: rgb(252, 253, 152);
            }
        }
    }

    &#s2 {
        display: flex;
        @media #{$extra-small-down} {
            flex-direction: column-reverse;
            padding: 2% 5%;
        }
        div.trackList {
            width: 50%;
            padding: 0 5% 5% 0;
            @media #{$extra-small-down} {
                padding: 5% 0;
            }
            animation: climbingUp 1200ms ease;
            ul {
                margin-bottom: 4vh;
                li {
                    line-height: 200%;
                    text-align: end;
                    transition: all 250ms ease;
                    &:hover {
                        color: rgb(252, 253, 152);
                    }
                }
            }
        }
        div#s2_rightSection {
            display: flex;
            flex-direction: column;
            animation: rightToLeft 1200ms ease;
            align-items: flex-end;
            width: 50%;
            @media #{$extra-small-down} {
                width: 100%;
            }

            img {
                width: 100%;
                border-radius: 20px;
                opacity: 0.8;
                margin-bottom: 6vh;
                @media #{$small-down} {
                    margin-bottom: 3vh;
                }
            }
        }
    }
}
